<!DOCTYPE html>
<html>
<head>
	<title>Book Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class= "book-form">
	<h1>Book Form</h1>

	<form method="POST" action="/book/add">
		<input type="text" name="title" placeholder="title"/>
		<input type="text" name="authors" placeholder="authors"/>
		<button type = "submit">save</button>
		
	</form>
</body>
</html>